# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# vim
*~
*.swp
AE-LXDC55/まとめ.txt
AE-LXDC55/作業用/
AE-XCL101C/まとめ.txt
AE-XCL101C/作業用/AE-MICRO-SD-DIP_ブリント基板(改造版).svg
AE-XCL101C/作業用/
GR-kurumi/作業用/
I2Cシリアル変換(SSCI-023108)/作業用/
RN-42-akizuki-eval-kit/作業用/
