# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# vim
*~
*.swp

#個別に無視
AE-LXDC55/まとめ.txt
AE-LXDC55/作業用/
AE-XCL101C/まとめ.txt
AE-XCL101C/作業用/
GR-kurumi/作業用/
I2Cシリアル変換(SSCI-023108)/作業用/
RN-42-akizuki-eval-kit/作業用/
SD-DIP化(秋月)/作業用/
SPI-シリアル変換(BOB-09981)/作業用/
Xbeeピッチ変換/作業用/
akizuki-8bitロジックレベル変換/作業用/
akizuki-スライドスイッチ2回路2接点IS2235/作業用/
AM2321/温湿度センサ　モジュール　ＡＭ２３２１_ センサ一般 秋月電子通商 電子部品 ネット通販.pdf
